:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: #36C07E;
  --color-secondary: #FFF7E5;
  --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
   --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);
    --animation-ultra-slow: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    --section-padding: 6vw;
    --section-padding-small: 3vw;
    --container-padding: 3vw;
    /* --border-radius: 1em; */
    --border-radius: 0em;
}

.menu-bar {
  margin: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #000000;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 40px 12px 40px;
}

.menu .btn-row {
  justify-content: flex-end;
  margin: 0;
}

.btn-row {
  width: 100%;
  position: relative;
  display: flex;
  margin: 0;
}

.section {
  display: block;
  position: relative;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  flex-wrap: wrap;
  position: relative;
}

.row .flex-col:nth-child(odd) {
  margin-right: var(--container-padding);
}

.row .flex-col {
  width: calc(50%-(var(--container-padding)/2));
}

.flex-col {
  display: block;
  width: 100%;
  order: 2;
  position: relative;
}

.logo img{
  height: 40px;
  margin-top: 4px;
}