.footer {
  color: white;
  background: var(--color-primary);
  padding: 60px;
  display: flex;
  flex-direction: column;

}

.social-media {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.copyright {
  margin-top: 12px;
}