.footer {
  color: #434650;
  background: #9EF1E1;
  padding: 60px;
  display: flex;
  flex-direction: column;

}

.social-media {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.copyright {
  margin-top: 12px;
}