.service-container {
  display: grid;
  padding: 100px 60px 100px 60px;
  background-color: var(--color-secondary);
}

.service-title {
  width: auto;
}

.icon {
  width: 100%;
  margin-right: 12px;
}

.icons {
  margin-right: 8px;
}

.service-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-content img {
  width: 100%;
}

@media (max-width: 820px)
{.service-content {
  display: table;
}}

@media (min-width: 821px) and (max-width: 999px) 
  {.service-content {
   display: table;
  }}
  
@media (min-width: 1000px) {
.service-content {
    grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .expertise {
    position: relative;
  }
  
  .popup-box {
    border-radius: 40px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: -2px 6px 50px 0px rgba(204, 167, 191, 0.20);
    backdrop-filter: blur(20px);
    padding: 40px;
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 24px;
    opacity: 0;
    height: 90%;
  }
  
  .popup-box:hover {
    opacity: 1;
  }

  @media (max-width: 820px)
{.popup-box:hover {
  opacity: 0;}}

@media (min-width: 821px) and (max-width: 999px) 
{.popup-box:hover {
  opacity: 0;}}


  