h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-family: 'Poppins', Arial;
  font-weight: 400;
  font-size: calc(clamp(6em, 9vw, 12em) * .9);
  line-height: 0.9;
}

h3 {
  font-family: 'Poppins', Arial;
  font-weight: 400;
  font-size: calc(clamp(6em, 9vw, 12em) * .5);
  line-height: 0.80;
}

h4 {
  font-family: 'Poppins', Arial;
  font-weight: 400;
  font-size: calc(clamp(8em, 9vw, 12em) * .255);
  line-height: 1.15;
  letter-spacing: 0.05em;
  margin: 0;
}

h5 {
  font-family: 'Poppins', Arial;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.5;
  margin: 0;
}

h6 {
  font-family: 'Poppins', Arial;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
}


.theme-no-italic .serif, .theme-no-italic .serif span {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.theme-serif .serif, .theme-serif .serif span {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;
}
